<script type="text/javascript">
// <![CDATA[

$(document).ready(function () {
    $('#addOpt').click(function(){
      $('#delOpt').show();
      $('#addOpt').hide();
      $('.add_sections').show();
      return false;
      });
    $('#delOpt').click(function(){
      $('#delOpt').hide();
      $('#addOpt').show();
      $('.add_sections').hide();
      return false;
      });
    });

// ]]>
</script>



<form><table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#f7f7f7; border:0px solid #83954e;">
  <br/>
  <tr>
    <td align="right" valign="middle" width="25%" style="padding-right:30px;"><strong>Page Name  : </strong></td>
    <td align="left" valign="middle" class="tablelinks"><label>
			<%= f.text_field "name", :class =>"text" %>
      </label>    </td>
  </tr>
  <tr>
    <td align="right" valign="middle" width="25%" style="padding-right:30px;"><strong>Page Title : </strong></td>
    <td align="left" valign="middle" class="tablelinks">
			<%= f.text_field "title", :class => "text " %>
	</td>
  </tr>
  <% if advanced_user? %>
  <tr>
      <td align="left" valign="middle" ></td>
      <td align="left" valign="middle" class="tablelinks">
        <%= f.text_area "description", :class =>'text mceEditor', :rows => 5, :cols => 50%>   </td>
    </tr>
  <% end %>
  <tr>
    <td align="right" valign="middle" width="25%" style="padding-right:30px;"><strong>Keywords : </strong></td>
      <td align="left" valign="middle" class="tablelinks">
        <%= f.text_field "keywords", :class =>'text', :size => 30 %>   </td>
  </tr>
  <% if advanced_user? %>
  <tr>
    <td align="right" valign="middle" width="25%" style="padding-right:30px;"><strong>Set Default: </strong></td>
    <td align="left" valign="middle" class="tablelinks" width="30%">
        <%= f.check_box "is_default" %>   </td>
  </tr>
  <% end %>
  <tr>
    <td align="right" valign="middle" width="25%" style="padding-right:30px;"><strong>Show Categories as Tag Cloud: </strong></td>
    <td align="left" valign="middle" class="tablelinks" width="30%">
        <%= f.check_box "category_tag_cloud" %>   </td>
  </tr>
  <tr>
    <td align="right" valign="middle" width="25%" style="padding-right:30px;"><strong>Show Tag Cloud: </strong></td>
    <td align="left" valign="middle" class="tablelinks" width="30%">
        <%= f.check_box "tag_cloud" %>   </td>
  </tr>
  <tr>
    <td align="right" valign="middle">&nbsp;</td>
    <td align="left" valign="middle" class="tablelinks">
      <div class="greenbut" style="margin-left:0px;"><%= submit_tag 'SAVE', :class => "greensubbut"%></div>
	 <div class="greenbut" style="margin-left:20px;"><%= link_to 'CANCEL', admin_pages_path %></div>	</td>
  </tr>
</table> 
</form>
<% if manage %>
<div class="form-section borded">
  <a class="plus" title="Add Category and Section" id="addOpt" href="#" style="float:right;padding-right:20px;"><span class="underline">Add Category and Section</span></a>
  <a class="minus" title="Hide Category and Section" id="delOpt" href="#" style="float:right;padding-right:20px;display: none;"><span class="underline">Hide Category and Section</span></a>
</div>
  <div id="alert_message">
  </div>
  <div class="add_sections" style="display:none;padding-top:20px;">
    <%= render :partial => 'select_section_category'%>
  </div>

<div id="page_section_category">
  <%= render :partial => 'page_section_category'%>
</div>
<% end %>
  </div>

<div id = "rightinnerbottom"></div>

