
<h3> Page Sections 
        <!--img src="/images/spinner.gif" id="mv-spinner-<%#= psc.id %>" width="15" alt="spinner" style="display:none;margin-left:10px;"/></td-->
        <img src="/images/spinner.gif" id="mv-spinner-<%#= psc.id %>" width="15" alt="spinner" style="display:none;margin-left:10px;"/></td></h3>
<br/>
<table width="601" border="1" cellspacing="0" cellpadding="0" bordercolor="#c5c3c3">
  <tr>
    <th width="210" align="center" valign="middle">Page Title </th>
    <th width="210" align="center" valign="middle">Section Title </th>
    <th width="210" align="center" valign="middle">Category Title </th>
    <th width="100" align="center" valign="middle">Move</td>
    <th width="157" align="center" valign="middle">Action</th>
  </tr>
  <% for psc in @page_section_categories %>
    <tr>
      <td align="center" valign="middle"><%= psc.page.title %></td>
      <td align="center" valign="middle"><%= link_to psc.page_section.title, edit_admin_page_section_path(psc.page_section), :title => "edit page section"  %></td>
      <td align="center" valign="middle"><%= psc.category ? link_to (psc.category.display_name, edit_admin_category_path(psc.category), :title => "edit category") : '-'%></td>
      <td align="center" valign="top">
        <% unless psc == @page_section_categories.first %>
          <%= link_to_remote image_tag("uparrow.jpg", :title => "Move up", :width => 11, :height => 10, :id => "up_arrow-#{psc.id}", :style => "margin-top:4px; border:none;"), :url => move_admin_pages_path(:id => psc, :mv => "up"),:loading => "show_hide('mv-spinner-#{}','up_arrow-#{psc.id}')",:complete => "show_hide('up_arrow-#{psc.id}','mv-spinner-#{}')" %>
        <% else %>
          <%= image_tag("uparrowfaint.jpg", :title => "Move up", :width => 11, :height => 10, :style => "margin-top:4px; border:none;") %>
        <% end %>
        <br/>
        <% unless psc == @page_section_categories.last %>
          <%= link_to_remote image_tag("downarrow.jpg", :title => "Move down", :width => 11, :height => 10, :id => "down_arrow-#{psc.id}", :style => "border:none;"), :url => move_admin_pages_path(:id => psc, :mv => "down"),:loading => "show_hide('mv-spinner-#{}','down_arrow-#{psc.id}')",:complete => "show_hide('down_arrow-#{psc.id}','mv-spinner-#{}')" %>
        <% else %>
          <%= image_tag("downarrowfaint.jpg", :title => "Move down", :width => 11, :height => 10, :style => "border:none;") %>
        <% end %>
      </td>
      <td align="center" valign="middle" class="tablelinks">
        <%= link_to_remote 'Delete', :url => delete_psc_admin_pages_path(:id => psc) %>
      </tr>
    <% end %>
  </table>
  <br/>
