<form>
  <table width="531" border="0" cellspacing="0" cellpadding="0" style="background-color:#f7f7f7; border:0px solid #83954e;">
    <br/>
    <tr>
      <td align="right" valign="middle"  style="padding-right:9px;"><strong>Name : </strong></td>
      <td align="left" valign="middle" class="tablelinks"><label>
          <%= category.text_field :display_name, :class =>"text" %>
        </label>  
      </td>
    </tr>
    <tr>
      <td align="right" valign="middle"  style="padding-right:9px;"><strong>Description : </strong></td>
      <td align="left" valign="middle" class="tablelinks"><label>
          <%= category.text_field :description,:class =>"text" %>
        </label>  
      </td>
    </tr>
    <tr>
      <td align="right" valign="middle" style="padding-right:9px;"><strong>Browse Photo  : </strong></td>
      <td align="left" valign="middle" class="tablelinks">
          <%= category.file_field "image", :size => 20, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; " %>	
      </td>
    </tr>
    <tr>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="left" valign="middle" class="tablelinks">
        <div class="greenbut" style="margin-left:0px;"><%= submit_tag 'SAVE', :class => "greensubbut"%></div>
        <div class="greenbut" style="margin-left:20px;"><%= link_to 'CANCEL', admin_categories_path %></div>	
      </td>
    </tr>
  </table> 
</form>
</div>
<div id = "rightinnerbottom"></div>

