<%= stylesheet_link_tag "style"   %>  
<br/> <br/>
<div id = "wrapper" style="height:350px">
  <div id="page-content">
    <div id="login-page">
      <div id="logo">
        <strong><%= flash[:notice] %> </strong>
      </div>
      <%  form_tag session_path do %>
        <p><label for="login">Username</label> 
        <%= text_field_tag 'login'  %>  </p>
        <p><label for="password">Password</label><br>
        <%= password_field_tag 'password'  %>  </p>
        <p id="remember"><label for="rememberme-field"><%= check_box_tag 'remember_me', nil, false %> 
        <label for="remember_me">Remember me on this computer</label></p>
        <p><%= submit_tag "Login", :class => "button"  %> </p>
      <% end %>
    </div>
  </div>
</div>

