<%= javascript_include_tag 'thickbox' %>
<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/layouts/admin/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/cu.png" style="vertical-align:middle; margin-right:8px;" />Customize Layout </div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <br/><br/>
        <% form_for :themes, :url => apply_admin_custom_layouts_path do |f| %>
        <table width="616" cellspacing="0" cellpadding="0">
          <tr>
            <td width="104" align="center" valign="middle"><strong>Select Color </strong></td>
            <% @colors.each do |color| %>
              <td width="109" align="center" valign="middle"><div style="width:37px; height:31px; border:1px solid #b7b7b7; background-color:<%= color.code %>;"></div></td>
            <% end %>
          </tr>
          <tr>
            <td align="center" valign="middle">&nbsp;</td>
            <% @colors.each do |color| %>
              <td align="center" valign="middle">
                <label>
                  <% if color.id == @theme.color_id %>  
                    <%= radio_button :theme, "color_id", color.id, :checked => true  %>  
                  <% else %>    
                    <%= radio_button :theme, "color_id", color.id  %>  
                  <% end %>  
              </label></td>
            <% end %>
          </tr>
          <tr>

          </tr>
        </table>

        <div style="border-bottom:1px dashed #dadad7; width:100%;"></div><br/>

        <table width="616" cellspacing="0" cellpadding="0">
          <tr>
            <td width="104" align="center" valign="middle"><strong>Select Theme </strong></td>
            <% @layouts.each do |layout|%>
              <td width="191" align="center" valign="middle">
                <%= image_tag layout.image.url() %>  
              <% end  %>  
            </tr>
            <tr>
              <td>
              </td>
              <% @layouts.each do |layout|%>
                <td align="center" valign="middle">
                  <label>
                    <% if layout.id == @theme.layout_id %>  
                      <%= radio_button :theme, "layout_id", layout.id, :checked => true  %>  
                    <% else %>  
                      <%= radio_button :theme, "layout_id", layout.id  %>  
                    <% end %>  
                  </label>               
                </td>
              <% end  %>  

            </tr>
          </table>

          <table>

          </tr>

          <tr>
            <td height="4" colspan="4"><table width="20%" border="0" cellpadding="0" cellspacing="0" style="margin-left:270px;"><br />
                <tr>
                  <td>
                    <div class="greenbut">
                      <%= submit_tag "APPLY", :class => "greensubbut" %>  
                      <%#= link_to "new",new_admin_custom_layout_path, :class => "greensubbut" %>  
                      <!--<a href="#" onclick="frm_value();">CREATE</a>-->
                    </div>
                  </td>
                  <td> <div class="greenbut">
                      <%#= link_to "PREVIEW", general_path(:page => Page.first.title, :height => 520, :width => 1000), :class => "thickbox", :style => "width:830;margin-left:30px" %>  
                    </div>
                </td>
                </tr>
            </table></td>
          </table>
        <% end %>



      </div>
      <div id = "rightinnerbottom"></div>
    </div>

    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
<script>
  function frm_value()
  {

    var color_value
    var layout_value 
    for (var i=0; i<document.forms[0].radio1.length; i++)  
    { 
      if (document.forms[0].radio1[i].checked)  
      {
        color_value = document.forms[0].radio1[i].value
      } 
    }
    for (var i=0; i<document.forms[0].radio2.length; i++)  
    { 
      if (document.forms[0].radio2[i].checked)  
      {
					layout_value = document.forms[0].radio2[i].value
				} 
			}
			
				if(layout_value=='lay1')
				{
				
					//alert(color_value);
					//document.location.href="../eJosh/ejoshweb1/index.html?cnt="+color_value;
					window.open("../eJosh/ejoshweb1/index.html?cnt="+color_value);
				}
				else if(layout_value=='lay2')
				{
				
					//alert(color_value);
					//document.location.href="../eJosh/ejoshweb2/index.html?cnt="+color_value;
					window.open("../eJosh/ejoshweb2/index.html?cnt="+color_value);
				}
				else if(layout_value=='lay3')
				{
				//alert(color_value);
					//document.location.href="../eJosh/ejoshweb3/index.html?cnt="+color_value;
					window.open("../eJosh/ejoshweb3/index.html?cnt="+color_value);
				}
			
			// alert(color_value);
		  	// alert(layout_value);
		}	
	</script>
