
			<div id = "left">
				<div id = "leftnavtitlebg"><div id = "greytitleleft">Features of eJosh</div></div>
				<div id = "grey">
					<div class="glossymenu">
					<div class="submenu">
						<ul>
						<li><%= link_to "#{image_tag('/images/tool.png', :border => 0, :style => 'vertical-align:middle; margin-right:10px;' )} Site Configuration", admin_sites_path %></li>
						<li><%= link_to "#{image_tag('/images/users.png', :border => 0, :style => 'vertical-align:middle; margin-right:8px;' )} User Management",users_path %></li>
						<li><%= link_to "#{image_tag('/images/customized.png', :border => 0, :style => 'vertical-align:middle; margin-right:11px;' )} Customize Layout", admin_custom_layouts_path %></li>
						<li><%= link_to "#{image_tag('/images/content.png', :border => 0, :style => 'vertical-align:middle; margin-right:9px;' )} Content Management", admin_pages_path %></li>
            <li><%= link_to "#{image_tag('/images/navigation.png', :border => 0, :style => 'vertical-align:middle; margin-right:11px;' )} Navigation Management", admin_navigations_path(:scope => HEADER_NAVIGATION_TYPE) %></li>
						<li><%= link_to "#{image_tag('/images/extention.png', :border => 0, :style => 'vertical-align:middle; margin-right:10px;' )} Plugins", admin_extensions_path %></li>
						</ul>
					</div>	
					</div>
				</div>
			</div>
