<tr>
  <td align="right" valign="middle"><strong>&nbsp;</strong></td>
  <td align="left" valign="middle" class="tablelinks" style="margin-left:50px"><label>
      <%= error_messages_for :user %>  
  </label></td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>User Name  : </strong></td>
  <td align="left" valign="middle" class="tablelinks"><label>
      <%= user.text_field :login, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;"%>
  </label></td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>Email  : </strong></td>
  <td align="left" valign="middle" class="tablelinks"><label>
      <%= user.text_field :email, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;" %>
    </label>
  </td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>Password  : </strong></td>
  <td align="left" valign="middle" class="tablelinks"><label>
      <%= user.password_field :password, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;" %></label>
  </td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>Confirm Password  : </strong></td>
  <td align="left" valign="middle" class="tablelinks"><label>
      <%= user.password_field :password_confirmation, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;" %></label>
  </td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>Role  : </strong></td>
  <td align="left" valign="middle" class="tablelinks">
    <%= user.select :role_id, Role.all.collect { |p| [p.title, p.id] } ,{}, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;" %>
  </td>
</tr>
<% if @employees != nil  %>  
<tr>
  <td align="right" valign="middle"><strong>Employee  : </strong></td>
  <td align="left" valign="middle" class="tablelinks">
    <%= select "employee", "id", @employees ,{ :include_blank => true, :selected => (@user.employee.id if !@user.employee.blank?)}, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;" %>
  </td>
</tr>
<% end %>  
<tr>
  <td align="right" valign="middle">&nbsp;</td>
  <td align="left" valign="middle" class="tablelinks">
    <div class="greenbut" style="margin-left:57px;">
      <%= submit_tag "Sign up", :class => "greensubbut" %>
    </div>
    <div class="greenbut" style="margin-left:20px;">
      <%= link_to "CANCEL" , users_path %>
    </div>	
  </td>
</tr>
