	<div id = "blue">
		<div id = "top">
			<div id = "topleft">
          <%= image_tag @site.logo.url(:layout_3), :title =>  @site.company_name, :alt => @site.company_name if @site %>
      </div>
			<div id = "topright">
        <% if !@quicklinks.empty?  %>  
				<div id = "bluenav">
					<div id = "blueleft"></div>
					<div id = "blueright"></div>
					<div id = "bluemid">
            <% for quicklink in @quicklinks %>
              <%= "|" if @quicklinks.first != quicklink %>
              <%= link_to quicklink.display_name, general_path(:page => quicklink.page.name) %> 
            <% end %>
					</div>
        </div>
      <% else %>  
        <div>&nbsp;</div>
      <% end  %>  
        <div id = "tag"><em><%= @site.tagline if @site %></em></div>
				
					<div id = "links" style="float:right;position:inherit;">
            <% for header in @headers %>
            <%= link_to header.display_name, general_path(:page => header.page.name ) %>
            <% end %>
          </div>
				
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
