<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/layouts/admin/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/nav.png" style="vertical-align:middle; margin-right:8px;" />Navigation Management</div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <div id = "innerlinks">
          <%= link_to "Header", admin_navigations_path(:scope => HEADER_NAVIGATION_TYPE), :class => selected_style(params[:scope], HEADER_NAVIGATION_TYPE)%> | 
          <%= link_to "Footer", admin_navigations_path(:scope => FOOTER_NAVIGATION_TYPE), :class => selected_style(params[:scope], FOOTER_NAVIGATION_TYPE) %> |
          <%= link_to "Quick Links", admin_navigations_path(:scope => QUICK_LINK_NAVIGATION_TYPE), :class => selected_style(params[:scope], QUICK_LINK_NAVIGATION_TYPE) %> |
          <%= link_to "Crawlers", admin_crawlers_path, :class => selected_style(params[:scope], CRAWLER_NAVIGATION_TYPE) %>
        </div>
        <br/><br/>
        <table width="601" border="1" cellspacing="0" cellpadding="0" bordercolor="#c5c3c3">
          <tr>
            <th width="54" align="center" valign="middle">Sr. No.&nbsp;</th>
            <th width="94" align="center" valign="middle">Name</th>
            <th width="83" align="center" valign="middle">Enabled</th>
            <th width="164" align="center" valign="middle">Page</th>
            <th width="81" align="center" valign="middle">Move</th>
            <th width="111" align="center" valign="middle">Action</th>
          </tr>
          <% @navigation_collect.each do |navigation| %>
            <tr id ="<%= navigation.sequence %>">
              <td align="center" valign="middle"><%= navigation.id %></td>
              <td align="center" valign="middle"><%= navigation.display_name %></td>
              <td align="center" valign="middle">
                <% if navigation.is_enabled %>
                  <%= link_to image_tag("right.jpg", :alt => "Enabled", :border => 0, :title => "Disable"), enable_admin_navigation_path(navigation, :scope => params[:scope], :state => false) %>
                <% else %>
                  <%= link_to image_tag("cross.jpg", :alt => "Enabled", :border => 0, :title => "Enable"), enable_admin_navigation_path(navigation,:scope => params[:scope], :state => true) %>
                <% end %>
              </td>
              <td align="center" valign="middle"><%= navigation.page.title %></td>
              <td align="center" valign="top">
                <% unless navigation == @navigation_collect.first %>
                  <%= link_to image_tag("uparrow.jpg", :title => "Move up", :width => 11, :height => 10, :style => "margin-top:4px; border:none;"), move_admin_navigation_path(navigation, :scope => params[:scope], :mv => "up") %>
                <% else %>
                  <%= image_tag("uparrowfaint.jpg", :title => "Move up", :width => 11, :height => 10, :style => "margin-top:4px; border:none;") %>
                <% end %>
                <br/>
                <% unless navigation == @navigation_collect.last %>
                  <%= link_to image_tag("downarrow.jpg", :title => "Move down", :width => 11, :height => 10, :style => "border:none;"),  move_admin_navigation_path(navigation, :scope => params[:scope], :mv => "down") %>
                <% else %>
                  <%= image_tag("downarrowfaint.jpg", :title => "Move down", :width => 11, :height => 10, :style => "border:none;") %>
                <% end %>
              </td>
              <td align="center" valign="middle" class="tablelinks">
                <%= link_to "Edit", edit_admin_navigation_path(navigation, :scope => params[:scope]) %>|
                <%= link_to "Delete", admin_navigation_path(navigation, :scope => params[:scope]), :method => "delete" %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= will_paginate @navigation_collect %>  
        <br/>
        <div class="greenbut" style="margin-left:270px;">
          <%= link_to "Add New", new_admin_navigation_path(:scope => params[:scope]), :rel => "#overlay10" %>
        </div>
        <br/>
        <br/>
      </div>
      <div id = "rightinnerbottom"></div>
    </div>
    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
