<tr>
  <td align="right" valign="middle"><strong>Sr. No.  : </strong></td>
  <td align="left" valign="middle" class="tablelinks" style="padding-left:30px;">
    <% if Extension.last.blank? %>
      <label>1</label>
    <%else%>
      <label><%= Extension.last.id + 1 %></label>    
    <%end%>
  </td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>Title  : </strong></td>
  <td align="left" valign="middle" class="tablelinks"><label>
      <%= extension.text_field :title, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;"%>
  </label></td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>Name  : </strong></td>
  <td align="left" valign="middle" class="tablelinks"><label>
      <%= extension.text_field :display_name, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;"%>
  </label></td>
</tr>
<tr>
  <td align="right" valign="middle"><strong>Repository Path  : </strong></td>
  <td align="left" valign="middle" class="tablelinks"><label>
      <%= extension.text_field :repository_path, :style => "width:273px; border:1px solid #a1a0a0; background-color:#f7f7f7; margin-left:29px;"%>
  </label></td>
</tr>
<tr>
  <td align="right" valign="middle">&nbsp;</td>
  <td align="left" valign="middle" class="tablelinks">
    <div class="greenbut" style="margin-left:57px;">
      <%= submit_tag "OK",:class => "greensubbut" %>
    </div>
    <div class="greenbut" style="margin-left:20px;">
      <%= link_to "CANCEL" , admin_extensions_path%>
    </div>	
  </td>

