<%= render :partial => '/layouts/admin/tiny_mce' %>
<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/layouts/admin/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/ext.png" style="vertical-align:middle; margin-right:8px;" />Plugins</div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <br/><br/>
        <table width="601" border="1" cellspacing="0" cellpadding="0" bordercolor="#c5c3c3">
          <tr>
            <th width="54" align="center" valign="middle">Sr. No.&nbsp;</td>
            <th width="210" align="center" valign="middle">Title</th>
            <th width="170" align="center" valign="middle">Actions</th>
          </tr>
          <% @extensions.each do |extension|  %>  
            <tr>
              <td align="center" valign="middle"><%= extension.id  %> </td>
              <td align="center" valign="middle"><%= extension.title %> </td>
              <td align="center" valign="middle" class="tablelinks">
                <%= link_to "Edit", edit_admin_extension_path(extension)  %> |
                <% if extension.entry_point.blank?  %>  
                  <%= link_to "Install", install_admin_extension_path(extension)  %> |
                <% else  %>  
                  <%= link_to "Update", update_plugin_admin_extension_path(extension)  %> |
                <% end %>  
                <%= link_to "Remove", admin_extension_path(extension), :method => "delete" %> 
              </td>
            </tr>
          <% end %>  
        </table>
        <br/>
        <div class="greenbut" style="margin-left:200px;">
          <ul style="list-style-type: none;">
            <li class="eleft"><%= link_to "Add New", new_admin_extension_path, :rel => "#overlay10" %></li>
            <li class="eleft"><%= link_to "Visit Plugins", plugins_path, :rel => "#overlay10" %></li>
          </ul>
        </div>
        <br/>
      </div>
      <div id = "rightinnerbottom"></div>
    </div>
    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
