<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="keywords" content= "<%= @page.keywords if @page %>" />
<meta name="description" content= "<%= @page.keywords if @page %>" />
<title><%= @category.display_name + ' - ' if @category%> <%= @page.title + ' | 'if @page %><%= @site.company_name if @site %></title>
<link href="/stylesheets/ejoshweb<%= $THEME %>/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/ejoshweb<%= $THEME %>/css/<%= $COLOR %>.css" rel="stylesheet" type="text/css" />
<link href='/images/favicon.ico' rel='icon' type='image/x-icon'/>
</head>

<body>

<div id = "wrapper">
  <%= yield %>
		<div style="clear:both"></div>
</div>
</body>
<% @crawlers.each do |crawler| %>  
  <%= crawler.script  %>  
<% end %>  
</html>
