<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/layouts/admin/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/siteconfiguration.png" style="vertical-align:middle; margin-right:8px;" />Site Configuration </div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <div id="innerlinks">
          <% if @site.go_live %>
          <span style="background:#CFEB79">  SITE IS LIVE </span>
          <% else %>
          <%= link_to 'GO LIVE', go_live_admin_sites_path, :style =>'background:#CFEB79;' %>
          <% end %>
        </div>
        <br/><br/>
        <div>
          <table width="500" border="0" align="left" cellpadding="0" cellspacing="0" style="margin-left:20px;">
              <tr>
                <td width="161" align="right" valign="middle"><strong>Logo  : </strong></td>
                <td width="333" align="left" valign="middle" class="tablelinks">
                  <%= image_tag @site.logo.url(:small_thumb)%>
                </td>
              </tr>
              <tr>
                <td align="right" valign="middle"><strong>Company Name  : </strong></td>
                <td align="left" valign="middle" class="tablelinks"> 
                  <label>
                    <%= @site.company_name  %>  
                  </label>
                </td>
              </tr>
              <tr>
                <td align="right" valign="middle"><strong>Tagline / Slogan  : </strong></td>
                <td align="left" valign="middle" class="tablelinks">
                  <label><%= @site.tagline  %></label>
                </td>
              </tr>
              <tr>
                <td align="right" valign="middle"><strong>Copyright Info  : </strong></td>
                <td align="left" valign="middle" class="tablelinks">
                  <label><%= @site.copyright_info  %></label>
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td align="right" valign="middle"><strong>Description  : </strong></td>
                <td align="left" valign="middle" class="tablelinks">
                  <label><%= @site.description[0..40]  %> ....</label>
                </td>
              </tr>
              <tr>
                <td align="right" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">
                  <div class="greenbut" style="margin-left:17px;"><%= link_to "EDIT", edit_admin_site_path(@site)%></div>
                </td>
              </tr>
          </table>
        </div>
        <br/>
      </div>
      <div id = "rightinnerbottom"></div>
    </div>

    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
